*{
    margin: 0%;
   font-family:Arial, Helvetica, sans-serif ;
}

header{
    
    background-color: white;
    position: fixed;
    width: 100%; 
    
    z-index: 4; 
   
    
}

nav{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}

.logo{
    width: 100px;
    height: 70px;
}

.bienvenue ul {
    display: flex;
    gap: 50px;
    
    
    
  
}

.bienvenue ul li {
    
    list-style: none;
}

.bienvenue ul li a{
    text-decoration: none;
    color: rgb(0, 0, 37);
}

/* .bienvenue ul li a:hover{
    cursor: pointer;
    border-bottom: 5px solid #E65100;
    
    
}
 */
.connect ul{
    display: flex;
    gap: 50px;
    align-items: center;
    
    
}

.connect ul li {
    list-style: none;
    
    
}

.connect ul li a {
    text-decoration: none;
    color: rgb(0, 0, 37);
}

ul li .inscri{
    padding: 10px;
    background-color: #E65100;
    border-radius: 8px; 
}
ul li .inscri:hover{
    cursor: pointer;
    background-color: green;
    color: white;

}

nav ul li a:hover{
    color: #E65100;
    text-decoration-line: 10px;
    cursor: pointer;
    padding: 10px;
    border-bottom: #E65100;
    border: 0 3px;
    background-color: aliceblue;
    border-bottom: 5px solid #E65100;
    
    


}

.sect{
    display: flex;
    gap: 5%;
    /* width: 100%; */
    background :linear-gradient(rgba(192,79,19,0.6) ),
    url(images/banner-head-accueil.jpg);
    
    background-size: cover;
    background-position: center;
    padding: 80px; 
    
   
}
.sect .right{
    position: relative;
    width: 50%;
    margin-top: 5%;
   
}
.sect .left{
    position: relative;
    color: white;
    margin-left: 80px;
    margin-top: 8%;
}

.sect .left .p{
   font-weight: bold; 
   font-size:20px;
}

.sect .right img{
    width: 400px;
    height: 250px;
    border-radius: 30px;
    justify-items: center;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    back
    
   
}

.sect .left h1 span{
    color: #FFB300;
}


.sect1{
    background-color: #FFF3E0; 
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
    padding: 30px;
    
}

.divsect1{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.h2{
    color: #E65100;
}

.sect2{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.sect2 h4{
     padding-bottom: 10px;
}

.sect2 p{
    padding-bottom: 5px;
    
}

.service{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.service h2{
    margin-bottom: 15px;
}



.divsect2{
    padding: 10px;
    background-color: #9c5f3e;
    border-radius: 8px;
}

.divsect2 .under{
    text-decoration: underline;
}

#cc{
    background-color: #FFF3E0;
    
}
 .sect3 h2{
    padding-bottom: 10px;
} 

.sect3 .divsect3 .map0{
    width: 600px;
    height: 200px;
}


.sect3 .divsect3{
        padding-top: 40px;
        padding-bottom: 30px;
       justify-content: center;
        background-color: #FFF3E0;
        text-align: center;

}

.sect4 .divsect4 .etoile{
    color: orange;
}

#etl{
    color: grey;
}
.sect4{
    text-align: center;
    padding-top:  30px;
}

.sect4 h2{
    padding-bottom: 30px;
}

.sect4 .gdivsect4{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
} 

.divsect4{
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0,1); 
   
}
   

.sect4 .divsect4 .fd{
    border-radius: 50%;
    padding: 10px;
   
} 

#fd1{
    background-color: grey;
    border-color:  #FFB300;
    

}
#fd2{
    background-color: orangered;
    border:#FFB300;
}

#fd3{
    background-color: #FFB300;
    border:#FFB300;
}


#fd4{
   background-color: green;
   border:#FFB300; 
   border: 1px;

}

.sect4 .gdivsect4 .divsect4 .icone{
  display: flex;
  align-items: center;
  gap: 27px;
}

.sect5{
    background-image: linear-gradient(rgba(192,79,19,0.6)) ,url(images/banner-head-accueil.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 300px;
    /* margin-bottom: 50px; */
    
    
}

.sect5 .bu {
    margin-top: 35px;
     padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: white;
    font-weight: bold;
    font-size: 15px;
    color: #E65100;
}

.sect5 .bu a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #E65100;
    
}
.sect5 .bu a:hover{
    cursor: pointer;
    color: green;
}
   
  

.sect5 .pret{
    color: white;

}

.sect5 .dec{
    padding-top: 20px;
    color: white;
    font-weight: bold;
}

.divsect5{
    padding-top: 60px;
}

.divfooter1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    color: white;
}

.divfooter1 .pr p a{
    text-decoration: none;
    color: white;
    
}

footer{
    background-color: #1a1f2c;
    padding: 50px;

}

footer .soulign{
    color: white;
    text-align: center;
    padding-top: 30px;
    width: 100%;
}

footer .divfooter1 p a:hover{
    cursor: pointer;
    color: aqua;

}

hr{
    color: black;
    border: none;
    height: 2px;
    background-color: rgb(20, 20, 20);
}





/* css traiteur.html */

.section1 .divsection1{
    background-image: linear-gradient(rgba(192,79,19,0.3)), url(images/banner-caterers.jpg);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    padding: 150px;
    color: white;
    text-align: center;
    
}


.section1 .divsection1 .h1divsection1{
     padding-right: 350px;
           
}

.section2{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 100px;
}

.section2 .divsection2{
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
}

.section2 .divsection2 .div2section2{
    display: flex;
    gap: 20px;   
}

.section2 .divsection2 .div1section2{
    margin-left: 85px;
}

.section2 .divsection2 .div5section2{
   display: flex;
   padding-right: 200px;
   gap: 20px;
   align-items: center;
}

#specialite{
    padding: 10px;
    border-radius: 6px;
}

#statut{
    padding: 10px;
    border-radius: 6px;
}


.div5section2 .div3section2 #filtre{
    background-color: #E65100;
    padding:  10px;
    border-radius: 6px;
    color: white;
    margin-top: 14px;  
   
}

.div5section2 .div3section2 #filtre:hover{
    cursor: pointer;
    background-color: green;
}

#reinitialiser{
    background-color: white;
    padding:  10px;
    border-radius: 6px;
    color: black;
    margin-top: 14px;
}

#reinitialiser:hover{
    cursor: pointer;
    background-color: green;
}

.section3 .divsection3 .div1section3 .verifie{
    position: absolute;
    background-color: rgb(124, 243, 124);
    color: green;
    margin-top: -6%;
    border-radius: 6px;
    padding: 2px;
    margin-left: 16%;
    

}

.section3 .divsection3 .div1section3{
    width: 35%;
} 

.maintraiteur{
    background-color: #FFF3E0;
}

.section3 .divsection3 .div1section3 .imgsection3{
    width: 300px;
    height: 170px;
    object-fit: cover;
    background-position: center;
    position: absolute;
    border-radius: 10px;
    margin-top: -7%;
    margin-left: -13%;
    box-shadow: 5px 5px 30px rgb(246, 232, 232); 
}

.section3 .divsection3 .div1section3 .imgsection3:hover{
    cursor: pointer;
    width: 900px;
    height: 400px;
    object-fit: cover;
    background-position: center;
    z-index: 1;
}

.section3 .divsection3{
    display: flex;
    box-shadow: 5px 5px 30px rgb(243, 235, 235); 
    align-items: center;
    width: 70%;
    border-radius: 6px;
    text-align: center;
    margin-left: 15%;
}

.section3 .divsection3 .div2section3 .specialite{
    display: flex;
    gap: 4px;


}

.section3 .divsection3 .div2section3 .specialite p{
    padding: 1px;
    background-color: rgb(202, 197, 197);
    border-radius: 3px;


}

.section3 .divsection3 .div2section3{
    text-align: justify;
    color: rgb(82, 77, 77);
}

.section3 .divsection3 .div3section3{
     margin-left: 30%; 
}

.section3 .divsection3 .div3section3 button{
    padding: 10px;
    border-radius: 6px;
    background-color: black;
    color: white;
    margin-top: 100%;
}

.section3 .divsection3 .div3section3 button:hover{
    cursor: pointer;
    background-color: #E65100;
}

.section3 .divsection3 .div3section3 p i {
    color: orange;
}




/* css pour la page inscription.hmtl  */
.formulaire{
    margin-left: 15%;
    margin-right: 15%;
    
    

}

.inscription-traiteur{
    background-color: rgb(248, 248, 177);
}
.section-un .div-un{
background-image: linear-gradient(rgba(192,79,19,0.2)), url(images/banner-caterers.jpg);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    padding: 150px;
    color: white;
    text-align: center;   
}

.section-un .div-un .texte{
    text-align: justify;
}
.section-un .div-un .texte p{
    color: #FFB300;
    font-weight: 50px;
    font-size: 20px;
}

form fieldset .legendbase{
    display: flex;
    /* justify-content: space-between; */
    text-align: justify;
    gap: 300px;
}

.legendservice{
    display: flex;
    gap: 155px;
}

.legendcontact{
    display: flex;
    gap: 200px;
    

}

form fieldset .legendbase input{
    
    padding: 5px 30px;
    border: 1px;
    border: solid grey;
    border-radius: 8px;
}
#email{
    background-color: rgb(200, 231, 234);
}
#password{
    background-color: rgb(200, 231, 234);

}

form fieldset .legendpro input{
    padding: 5px 300px;
    border: 1px;
    border: solid grey;
    border-radius: 8px;
}

#categorie{
    padding: 5px 300px;
    border: 1px;
    border: solid grey;
    border-radius: 8px;
    align-items: start;
    
}

#description{
    padding: 50px 300px;
    border: 1px;
    border: solid grey;
    border-radius: 8px;
}

.legendcontact input{
     padding: 5px 30px;
    border: 1px;
    border: solid grey;
    border-radius: 8px;
}

/* #Photo input{
    color: #9c5f3e;
    background-color: #FFB300;
} */

fieldset .photo{
    color: #9c5f3e;
    background-color: #FFB300;
}


#Inscriform{
    padding: 10px;
    background-color: #E65100;
    border-radius: 8px; 
    float: right;   
}

#Inscriform:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

#footerinscri{
    margin-top: 5%;
}

fieldset{
    border-radius: 10px;
/*     box-shadow: 5px 5px 30px rgb(246, 232, 232);
 */}

form{
    background-color: white;

}