*{
    margin: 0%;
  
}

header{
    
    background-color: white;
    position: fixed;
    width: 100%; 
    display: block;
    z-index: 1;
    
}

nav{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.logo{
    width: 100px;
    height: 70px;
}

.bienvenue ul {
    display: flex;
    gap: 50px;
    
  
}

.bienvenue ul li {
    
    list-style: none;
}

.bienvenue ul li a{
    text-decoration: none;
}

/* .bienvenue ul li a:hover{
    cursor: pointer;
    border-bottom: 5px solid #E65100;
    
    
}
 */
.connect ul{
    display: flex;
    gap: 50px;
    align-items: center;
    
    
}

.connect ul li {
    list-style: none;
    
    
}

.connect ul li a {
    text-decoration: none;
    
}

ul li .inscri{
    padding: 10px;
    background-color: #E65100;
    border-radius: 8px; 
}

nav ul li a:hover{
    color: #E65100;
    text-decoration-line: 10px;
    cursor: pointer;
    padding: 10px;
    border-bottom: #E65100;
    border: 0 3px;
    background-color: aliceblue;
    border-bottom: 5px solid #E65100;
    
    


}

.sect{
    display: flex;
    gap: 5%;
    /* width: 100%; */
    background :linear-gradient(rgba(192,79,19,0.6) ),
    url(images/banner-head-accueil.jpg);
    
    background-size: cover;
    background-position: center;
    padding: 80px; 
    
   
}
.sect .right{
    position: relative;
    width: 50%;
    margin-top: 5%;
    
}
.sect .left{
    position: relative;
    color: white;
    margin-left: 80px;
    margin-top: 8%;
}

.sect .left .p{
   font-weight: bold; 
   font-size:20px;
}

.sect .right img{
    width: 400px;
    height: 250px;
    border-radius: 30px;
    justify-items: center;
   
}

.sect .left h1 span{
    color: #FFB300;
}


.sect1{
    background-color: #FFF3E0; 
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
    padding: 30px;
    
}

.divsect1{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.h2{
    color: #E65100;
}

.sect2{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.sect2 h4{
     padding-bottom: 10px;
}

.sect2 p{
    padding-bottom: 5px;
    
}

.service{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.service h2{
    margin-bottom: 15px;
}



.divsect2{
    padding: 10px;
    background-color: #9c5f3e;
    border-radius: 8px;
}

.divsect2 .under{
    text-decoration: underline;
}

#cc{
    background-color: #FFF3E0;
    
}
 .sect3 h2{
    padding-bottom: 10px;
} 

.sect3 .divsect3 .map0{
    width: 600px;
    height: 200px;
}


.sect3 .divsect3{
        padding-top: 40px;
        padding-bottom: 30px;
       justify-content: center;
        background-color: #FFF3E0;
        text-align: center;

}

.sect4 .divsect4 .etoile{
    color: orange;
}

#etl{
    color: grey;
}
.sect4{
    text-align: center;
    padding-top:  30px;
}

.sect4 h2{
    padding-bottom: 30px;
}

.sect4 .gdivsect4{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
} 

.divsect4{
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0,1); 
   
}
   

.sect4 .divsect4 .fd{
    border-radius: 50%;
    padding: 10px;
   
} 

#fd1{
    background-color: grey;
    border-color:  #FFB300;
    

}
#fd2{
    background-color: orangered;
    border:#FFB300;
}

#fd3{
    background-color: #FFB300;
    border:#FFB300;
}


#fd4{
   background-color: green;
   border:#FFB300; 
   border: 1px;

}

.sect4 .gdivsect4 .divsect4 .icone{
  display: flex;
  align-items: center;
  gap: 27px;
}

.sect5{
    background-image: linear-gradient(rgba(192,79,19,0.6)) ,url(images/banner-head-accueil.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 300px;
    /* margin-bottom: 50px; */
    
    
}

.sect5 .bu{
    margin-top: 35px;
     padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: white;
    font-weight: bold;
    font-size: 15px;
    color: #E65100;
}
/* .sect5 .bu a{
   
    text-decoration: none;
    color: #E65100;
    
   
} */

.sect5 .pret{
    color: white;

}

.sect5 .dec{
    padding-top: 20px;
    color: white;
    font-weight: bold;
}

.divsect5{
    padding-top: 60px;
}

.divfooter1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    color: white;
}

.divfooter1 .pr p a{
    text-decoration: none;
    color: white;
    
}

footer{
    background-color: #1a1f2c;
    padding: 50px;

}

footer .soulign{
    color: white;
    text-align: center;
    padding-top: 30px;
    width: 100%;
}

hr{
    color: black;
    border: none;
    height: 2px;
    background-color: rgb(20, 20, 20);
}